* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Meta";
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3410/MonumentGrotesk-Mono.ttf);
}

@font-face {
  font-family: "Art";
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3410/ArtCompany-Mono.woff);
}

.instruction {
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: auto;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
  font-family: "Meta", monospace;
  font-size: calc(10px + 2vw);
  opacity: 0;

  padding: 0.6em 1em;
  border-radius: 100vw;
  background: white;
  box-shadow: 0 0 10px rgba(black, 0.2);
  text-transform: uppercase;
  line-height: 1;

  &.is-active {
    opacity: 1;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.butt {
  display: inline-block;
  transition: all 0.2s ease-in-out;
  border: none;
  margin: 0;
  padding: 6px 12px;
  border-radius: 100vw;
  width: auto;
  overflow: visible;

  background: white;
  box-shadow: 0 0 10px rgba(black, 0.2);

  /* inherit font & color from ancestor */
  line-height: 1;
  color: inherit;
  font: inherit;
  font-family: "Meta";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;

  &.disabled {
    pointer-events: none;
  }

  &:hover {
    background: blue;
    color: white;
  }

  &:active {
    transition: none;
    background: black;
    color: white;
  }

  &:focus {
    box-shadow: 0 0 10px rgba(blue, 0.6);
  }
}

.height {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
